In [9]:
"""This program collects info from two links I found that contained HTML-tables of
the Paldea Pokedex with the following info: 
Pokedex number, pokemon name, type and location/evolution.

The first link is the one I preffered, but it lacked some info of location,
due to it using images instead of text which I wanted. 
Therefor I found another link that had this info, which I will merge into 
one final list and save to txt-file.

The txt-file will be used in iOS(Swift) app to gather data from."""

'This program collects info from two links I found that contained HTML-tables of\nthe Paldea Pokedex with the following info: \nPokedex number, pokemon name, type and location/evolution.\n\nThe first link is the one I preffered, but it lacked some info of location,\ndue to it using images instead of text which I wanted. \nTherefor I found another link that had this info, which I will merge into \none final list and save to txt-file.\n\nThe txt-file will be used in iOS(Swift) app to gather data from.'

In [10]:
import pandas as pd
import numpy as np

In [11]:
# Info link:
# https://www.eurogamer.net/pokemon-scarlet-violet-pokedex-all-locations-paldea-listed-9015

# Additional info - > will be replacing "nan" from first link:
# https://www.ign.com/wikis/pokemon-scarlet-violet/Pokedex_-_All_Pokemon_in_Scarlet_and_Violet

In [12]:
data = pd.read_html('https://www.eurogamer.net/pokemon-scarlet-violet-pokedex-all-locations-paldea-listed-9015')[0]

#Deleting column with photos - we are only looking for text info at this point
del data['Unnamed: 4'] 

data

,Num.,Pokémon,Type,Evolution and Location
0,1,Sprigatito,Grass,Starter Pokémon
1,2,Floragato,Grass,Evolves from Sprigatito at Level 16
2,3,Meowscarada,Grass / Dark,Evolves from Floragato at Level 36
3,4,Fuecoco,Fire,Starter Pokémon
4,5,Crocalor,Fire,Evolves from Fuecoco at Level 16
...,...,...,...,...
395,396,Chi-Yu,Dark / Fire,Legendary Pokémon Firescourge Shrine - North P...
396,397,Roaring Moon,Dragon / Dark,Scarlet Exclusive Area Zero - in the hidden ca...
397,398,Iron Valiant,Fairy / Fighting,Violet Exclusive Area Zero - in the hidden cav...
398,399,Koraidon,Fighting / Dragon,Scarlet Exclusive Legendary Pokémon Added to P...
399,400,Miraidon,Electric / Dragon,Violet Exclusive Legendary Pokémon Added to Po...

In [13]:
additionalData = pd.read_html('https://www.ign.com/wikis/pokemon-scarlet-violet/Pokedex_-_All_Pokemon_in_Scarlet_and_Violet')[0]

#Additional info had some reapeting pokemon -> we delete these as not needed
additionalData = additionalData.drop([223]).reset_index(drop = True)
additionalData = additionalData.drop([223]).reset_index(drop = True)

additionalData

       #       Pokemon             Type            Location
0      1    Sprigatito            Grass     Starter Pokemon
1      2     Floragato            Grass   Evolve Sprigatito
2      3   Meowscarada       Grass/Dark    Evolve Floragato
3      4       Fuecoco             Fire     Starter Pokemon
4      5      Crocalor             Fire      Evolve Fuecoco
..   ...           ...              ...                 ...
395  396        Chi-Yu        Dark/Fire  Firescourge Shrine
396  397  Roaring Moon      Dragon/Dark           Area Zero
397  398  Iron Valiant   Fighting/Fairy           Area Zero
398  399      Koraidon  Fighting/Dragon           Area Zero
399  400      Miraidon  Electric/Dragon           Area Zero

[400 rows x 4 columns]

In [14]:
dataLst = pd.DataFrame.to_numpy(data)
addLst = pd.DataFrame.to_numpy(additionalData)

In [15]:
#Replacing missing info(previously nan), with info from additional link.

for i in range(len(dataLst)):
    if type(dataLst[i][-1]) == type(np.nan):
        new = np.char.replace(addLst[i][-1], "etc.", "++")
        dataLst[i][-1] = str(new)

In [16]:
#Saving end result to txt file.

np.savetxt("paldeaData.txt", dataLst, fmt = "%s;")